*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nanum Gothic Coding,sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    background-color: black;
}
.main-profile{
    width: 900px;
    height: 600px;
    margin: 60px auto;
    display: flex;
    background-image: linear-gradient(to bottom right, #7bfcde,#fff);

}
aside{
    width: 30%;
    height: 100%;

}
.left{
    width: 70%;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
}
.profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.menu{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.icon{
    display: flex;
    justify-content: start;
}
.icon i{
    padding: 0px 20px 50px 0px;
    font-size: larger;
}
.icon p{
    font-size: x-large;
}
.active{
    padding: 50px 0px 0px 30px;
    font-size: x-large;
}
.loding{
    width: 250px;
    border: 1px solid white;
    height: 20px;
    margin-left: 30px ;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}
.card img{
    border-radius: 30%;
    padding-left: 5px;
}
.card{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin: 10px 10px;
    border-radius: 10px;
    background-color: #fff7f7;
    box-shadow: 10px 10px 20px black;
}
.content{
    font-size: small;
}
.lodding{
    width: 250px;
    border: 1px solid white;
    height: 20px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}
.cards{
    display: flex;
    flex-direction: column;
}
